<head>
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
    crossorigin="anonymous"></script>
</head>
<div class="bg-black-light aa but">
  <div class="row">
    <div class="col-md-4 margin-10-v bb">
      <div>
        <span>Ing. Juan David Hincapie</span>
      </div>
      <div>
        <span>Ing. Cristian</span>
      </div>
      <div>
        <span>Ing. Federico Fernandez</span>
      </div>
      <div>
        <span>Ing. Juan Felipe España Arias</span>
      </div>
    </div>
    <div class="col-md-4 margin-11-v">
      <i class="fa fa-android fa-5x"></i>
      <i class="fa fa-buysellads fa-5x"></i>
    </div>
    <div class="col-md-4 margin-10-v">
        <div><span>Ciuda: Manizales</span></div>
        <div>
          <span>Direccion: COLOCAR</span>
        </div>
        <div>
          <span>Telefono: 8891129 - 3135679087</span>
        </div>
        <div>
          <span>Sitio web: http://localhost:4200/</span>
        </div>
    </div>
  </div>
</div>

<div class="bg-black text-center but">
  © Especializacion 2018 Copyright.
</div>

