<div class="text-center">
  <h5>Modificar carro disponible</h5>
  <label for="">ID</label>
  <input type="text" class="form-control" [(ngModel)]="id" readonly>
  <label for="">Placa</label>
  <input type="text" class="form-control"  readonly [(ngModel)]="placa">
  <label for="">Fecha de Inicio</label>
  <input type="date" class="form-control" [(ngModel)]="fechaini">
  <label for="">Fecha de Fin</label>
  <input type="date" class="form-control" [(ngModel)]="fechafin">

  <br>
  <button  class="btn btn-success" (click)="modificarCarroDispo()">Actualizar</button>
  <button routerLink="/carrosdisponibles" class="btn btn-danger">Cancelar</button>
  <br><br>
</div>


